/* General */

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/gravel.png");
}

a {
    text-decoration: none;
}

/* Header (brand and navigation links) */

header {
    width: 100%;
    margin-bottom: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #cccccc;
    background: #ffffff;
}

h1 {
    float: left;
    padding: 20px 30px;
    margin: 0px;
    color: #ffffff;
    background: #4aaaa5;
}

.header-container {
    display: inline-block;
    vertical-align: bottom;
    margin: 0px;
    width: 960px;
}

.navbar-container {
    float: right;
    padding-top: 20px;
    line-height: 32px;
    color: #cccccc;
}

.navbar-links {
    padding-left: 10px;
    padding-right: 10px;
    color: #777777;
}

/* Main body/content */

h2 {
    margin: 0px;
    color: #4aaaa5;
}

hr {
    margin: 20px 0px;
    border-color: #cccccc;
    border-style: solid;
}

.body-container {
    display: inline-block;
    text-align: left;
    width: 900px;
    padding: 30px 30px 14px 30px;
    margin-bottom: 120px;
    line-height: 32px;
    background-color: #ffffff;
    color: #777777;
    border-style: solid;
    border-color: #dddddd;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    line-height: 90px;
    font-size: 14px;
    color: #ffffff;
    background-color: #666666;
    border-top-style: solid;
    border-width: 6px;
    border-color: #4aaaa5;
}

/* About Me page */

#about-image {
    float: left;
    margin: 10px 20px 0px 0px;
    width: auto;
    height: 160px;
}

/* Contact page */

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 3px 0px 14px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    box-sizing: border-box;
    resize: vertical;
}

#submit-button {
    padding: 12px 30px;
    border: none;
    color: #ffffff;
    background-color: #4aaaa5;
    margin-bottom: 10px;
}

#submit-button:hover {
    color: #e6e6e6;
    background-color: #367c79;
}

/* Portfolio page */

.portfolio-container {
    position: relative;
    display: inline-block;
    margin: 20px 30px 20px 0px;
}

.portfolio-img {
    float: left;
}

.portfolio-txt {
    width: 100%;
    bottom: 0px;
    text-align: center;
    line-height: 46px;
    position: absolute;
    color: #ffffff;
    background-color: #4aaaa5;
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
    /* Header (brand and navigation links) */

    h1 {
        float: none;
        padding-left: 0;
        padding-right: 0;
    }

    header {
        margin-bottom: 10px;
    }

    .header-container {
        width: 100%;
    }

    .navbar-container {
        float: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Main body/content */

    .body-container {
        width: auto;
        border-width: 2px;
        margin-left: 10px;
        margin-right: 10px;
        margin: 0 10px 80px 10px; 
    }

    /* About Me page */

    #about-image {
        float: none;
        width: 100%;
        height: auto;
    }
}